body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #dfdfdf;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding-right: 20px;
}

#navigation a {
    text-decoration: none;
    color: #252424;
    font-size: 20px;
    font-weight: 600;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 40px;
}

#icons {
    padding-right: 200px;
}

#logo {
    padding-left: 100px;
}

.svg {
    fill: white;
}

.sort {
    transform: rotate(360deg);
    margin-right: 20px;
}

.circle {
    height: 850px;
    width: 850px;
    line-height: 5px;
    background-color: #a2a4b3;
    border-radius: 50%;
    z-index: -5;
    position: absolute;
    right: -400px;
    top: -400px;
    overflow: hidden;
}

  .content {
   text-align: center;
   align-content: center;
   padding: 20px;
   margin: 50px;
   border: 0px;
  }

  .content h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(19, 110, 19);
  }

  .content h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(31, 30, 30);
  }

  .content button {
    width: 150px;
    border: 2px solid rgb(19, 110, 19);
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    box-shadow:  -1px 1px 8px rgb(19, 110, 19),
               -6px 6px 8px #ffffff;
  }

  .content button a {
    text-decoration: none;
    color:rgb(19, 110, 19);
  }

  .light {
    height: 300px;
    background-color: none;
    margin-left: 110px;
    margin-top: 50px;

}

.chair {
    position: absolute;
    top: 30px;
    margin-left: 100px;
}